
section {

}
article {
  border: solid black;
  padding: 1em;
  margin-bottom: 1em;
}
header {

}

article:hover {
  box-shadow: 10px 10px;
  font-weight: bold;
}

section p {
  padding: 0.75em;
  border-bottom: solid black;
}

footer {
  font-size: 13px;
}

.fas {
  position: relative;
  float: right;
  color: #0F52BA;
}

.handler {
  float: right;
  visibility: hidden;
  color: grey;
}
article:hover .handler {
  visibility: visible;
}

main p {
  overflow-wrap: break-word;
}

.loading {
  opacity: 0.3;
}