
section {

}
article {
  border: solid black;
  padding: 1em;
}
header {

}

section p {
  padding: 0.75em;
  border-bottom: solid black;
}

footer {
  font-size: 13px;
}

.handler {
  float: right;
}